<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Document</title>
</head>

<body>

    <div ng-app="myapp" ng-controller="myctr">
        <strong>Calculator</strong>
        <div>Number 1
            <input type="number" min="0" ng-model="n1" required>
        </div>
        <div>Number 2
            <input type="number" min="0" ng-model="n2" required>
        </div>

        <div>
            <strong>Answer:</strong>
            <span>{{total}}</span>
            <button class="btn" ng-click="add()">+</button>
            <button class="btn" ng-click="sub()">-</button>
            <button class="btn" ng-click="mul()">*</button>
            <button class="btn" ng-click="div()">/</button>
        </div>
    </div>

    <script>
        var app = angular.module('myapp', []);
        app.controller('myctr', function($scope){
            $scope.n1 = 0;
            $scope.n2 = 0;
            $scope.total = 0;
            $scope.add = function(){
                this.total = this.n1 + this.n2
            };
            $scope.sub = function(){
                this.total = this.n1 - this.n2
            };
            $scope.mul = function(){
                this.total = this.n1 * this.n2
            };
            $scope.div = function(){
                this.total = this.n1 / this.n2
            };
        });
    </script>

</body>

</html>