<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
    </script>
    <title>Document</title>
</head>
<body ng-controller="ctr">

    <h1>Greater Number</h1>
    <input type="number" min="0" ng-model="n1">
    <input type="number" min="0" ng-model="n2">
    <input type="number" min="0" ng-model="n3">

    <button ng-click="submit()">Submit</button>

    <h1>{{result}}</h1>
    <script>
        var app = angular.module("myapp",[]);
        app.controller("ctr", function($scope){
            $scope.submit = function(){
                if ($scope.n1 > $scope.n2) {
                    if ($scope.n1 > $scope.n3) {
                        $scope.result = $scope.n1 + " is the biggest number";
                    } else {
                        $scope.result = $scope.n3 + " is the biggest number";
                    }
                } 
                else if($scope.n2 > $scope.n3){
                    $scope.result = $scope.n2 + " is the biggest number";
                }
                else {
                        $scope.result = $scope.n3 + " is the biggest number";
                    }
            }
        })
    </script>
    
</body>
</html>